html {
  min-height: 100%;
}

body {
	position: relative;
	min-height: 100vh;
}

.full-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	gap: 50px;	
}

button:hover {
	cursor: pointer;
}

@media (max-width: 1279px) {
	.full-wrapper {
		max-width: 1024px;
		gap: 40px;
	}
}

@media (max-width: 1023px) {
	.full-wrapper {
		max-width: 768px;
		padding: 10px 20px;
		gap: 30px;
	}
}

@media (max-width: 767px) {
	.full-wrapper {
		max-width: 600px;
	}
}

@media (max-width: 599px) {
	.full-wrapper {
		width: 100%;
	}
}