.header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header__logo {
	width: 50px;
	filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.7));
}

@media (max-width: 1023px) {
	.header__logo {
		width: 40px;
	}

	.header__brand {
		font-size: 48px;
	}
}

@media (max-width: 767px) {
	.header {
		gap: 10px;
	}

	.header__logo {
		width: 30px;
	}

	.header__brand {
		font-size: 36px;
	}
}

@media (max-width: 599px) {
	.header {
		justify-content: center;
	}

	.header__logo {
		width: 40px;
	}
}